a:hover {
    text-decoration: none;
}
a.active {
    font-weight: 700;
}
pre {
    text-align: left;
    white-space: pre-line;
}

.table-footer {
    padding: 5px 0;
}

.models-table-wrapper {
    margin-bottom: 20px;
}

.btn-default {
    background-image: none !important;
}

.columns-dropdown {
    margin-bottom: 20px;
}

.table-column-options.table > tbody > tr > td {
    border-top-width: 0;
}

tr.selected-row>td, tr.selected-expand>td {
    background: #dff2ff;
}

.demo-main-container {
  margin: 3em;
}

.margin-top {
  margin-top: 3em;
}

.column-icon-box {
  display: inline-block;
  width: 20px;
}
