<div class="ui container margin-top">

  <h1>ember-semantic-ui-models-table</h1>

  <p>
    This addon is based on <a href="https://github.com/onechiporenko/ember-models-table">ember-models-table</a> but
    adding <a href="https://semantic-ui.com/">semantic-ui</a> styles.</p>

  <hr/>

  {{outlet}}

</div>
